<!--placeholder-->
<div ng-repeat="suggestion in suggestions">
	<p>{{suggestion.body}}</p>
	<p>UpVote: {{suggestion.upvotes}}</p>
	<p>DownVote: {{suggestion.downvotes}}</p>
	<button class="btn btn-default" ng-click="upVote($index)">Up vote</button>
	<button class="btn btn-default" ng-click="downVote($index)">Up vote</button>
	<a href='#/{{$index}}'>Comments</a>
</div>

<form ng-submit="addSuggestion()">
  	<div class="form-group">
    	<label for="author">Name</label>
    	<input class="form-control" id="author" placeholder="Author" ng-model="newSuggestion.author">
  	</div>
  	<div class="form-group">
	    <textarea class="form-control" rows="3" placeholder="Comment..." ng-model="newSuggestion.body"></textarea>
  	</div>
  	<button type="submit" class="btn btn-default">Submit</button>
</form>